/**
 * TrackpadScrollEmulator
 * Author: Jonathan Nicol @f6design
 */
 .tse-scrollable {
  position: relative;
  width: 200px; /* Default value. Overwite this if you want. */
  height: 300px; /* Default value. Overwite this if you want. */
  overflow: hidden;
  overflow-y: scroll; /* Fallback for non-JS clients. */
  }
  .tse-scrollable .tse-scroll-content {
    overflow: hidden;
    overflow-y: scroll;
    }
    .tse-scrollable .tse-content {
      /* Default height, used as a fallback for non-JS clients.
      If you overwite .tse-scrollable's height, overwrite this too. */
      /*height: 300px;*/
      }
.tse-scrollbar {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  }
  .tse-scrollbar .drag-handle {
    position: absolute;
    right: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    min-height: 10px;
    width: 6px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    background: #68757E;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    }
  .tse-scrollbar:hover .drag-handle {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.7;
    -webkit-transition: opacity 0 linear;
    -moz-transition: opacity 0 linear;
    -o-transition: opacity 0 linear;
    -ms-transition: opacity 0 linear;
    transition: opacity 0 linear;
    }
    .tse-scrollbar .drag-handle.visible {
      opacity: 0.7;
      }
/* Horizontal scroller */
.tse-scrollable.horizontal {
  overflow-x: scroll; /* Fallback for non-JS clients. */ 
  overflow-y: hidden; /* Fallback for non-JS clients. */
  }
.tse-scrollable.horizontal .tse-scroll-content {
  overflow-x: scroll;
  overflow-y: hidden;
  }
.tse-scrollable.horizontal .tse-scrollbar {
  top: auto;
  left: 0;
  width: auto;
  height: 10px;
  }
  .tse-scrollable.horizontal .tse-scrollbar .drag-handle {
    right: auto;
    top: 2px;
    height: 6px;
    min-height: 0;
    min-width: 10px;
    width: auto;
    }
