.container {
  border-radius: 6px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px dashed;
  margin: auto;
}

ngx-simplebar {
  height: 100%;
}
