/**
 * SimpleBar demo.
 * Author: Adrien Grsmto
 * 
 * These styles are not required for SimpleBar
 * to function. They are used only for styling the demo.
 */

/* General page styles
*****************************************************************/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 20px;
}

section {

}

section:after {
  content: "";
  display: table;
  clear: both;
}

section + section {
  margin-top: 40px;
}

h1 {
  font-size: 30px;
  margin: 0 0 10px 0;
}
h2 {
  font-size: 24px;
  margin: 10px 0;
}
p {
  margin: 1em 0;
}
a,
a:visited {
  color: #000;
  }
  a.active,
  a:hover {
    color: #666;
    }
.tse-content {
  background-color: #DDD;
}
.col {
  float: left;
  width: calc(50% - 20px);
}
.col + .col {
  margin-left: 40px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  }
  .btn:hover {
    background: #666;
    color: #fff;
    }
  .btn:visited {
    color: #fff;
    }

/* Scrollable elements
*****************************************************************/
.demo1, .demo3 {
  margin: 10px 0;
  width: 100%;
  height: 300px;
}
  .demo1 p {
    margin: 0;
    padding: 10px;
    min-width: 230px;
    }
    .demo1 p.odd {
      background: #f0f0f0;
      }
  .demo1.width {
    width: 230px;
  }
  .demo1.height {
    height: 200px;
  }
.demo4 {
  width: 100%;
  margin: 10px 0;
  white-space: nowrap;
  }
    .demo4 .box {
      display: inline-block;
      margin-right: 10px;
      width: 100px;
      height: 100px;
      background: #666;
      color: #fff;
      text-align: center;
      line-height: 100px;
      font-size: 24px;
      }
.demo-raw {
  margin: 10px 0;
  width: 250px; 
  height: 300px;
  overflow: auto;
}

.demo3 {
  height: auto;
  max-height: 300px;
}

.demo5 {
  height: 200px;
}
