/**
 * TrackpadScrollEmulator demo.
 * Author: Jonathan Nicol @f6design
 * 
 * These styles are not required for TrackpadScrollEmulator
 * to function. They are used only for styling the demo.
 */

 /* Global reset
   html5doctor.com/html-5-reset-stylesheet/
*****************************************************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* General page styles
*****************************************************************/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 20px;
}
h1 {
  font-size: 30px;
  margin: 0 0 10px 0;
}
h2 {
  font-size: 24px;
  margin: 10px 0;
}
p {
  margin: 1em 0;
}
a,
a:visited {
  color: #000;
  }
  a.active,
  a:hover {
    color: #666;
    }
.tse-content {
  background-color: #DDD;
}
.demo1-col {
  float: left;
  width: 250px;
  margin: 0 20px 20px 0;
}
.demo2-col {
  float: left;
  width: 500px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  }
  .btn:hover {
    background: #666;
    color: #fff;
    }

/* Scrollable elements
*****************************************************************/
.demo1 {
  margin: 10px 0;
}
.demo1 {
  width: 250px; /* example of overwiting default width */
  }
  .demo1 p {
    margin: 0;
    padding: 10px;
    }
    .demo1 p.odd {
      background: #f0f0f0;
      }
.demo2 {
  width: 500px; /* example of overwiting default width */
  height: 130px; /* example of overwiting default height */
  margin: 10px 0;
  }
  .demo2 .tse-content {
    display: inline-block; /* allows element to expand outside container without setting explicit width */
    white-space: nowrap; /* allows element to expand outside container without setting explicit width */
    height: 130px;
    }
    /* Box styling is purely for demo puposes. Your scrollable content can be styled however you like. */
    .demo2 .boxes {
      overflow: auto;
      padding: 10px 0 0 10px;
      }
      .demo2 .box {
        display: inline-block;
        margin-right: 10px;
        width: 100px;
        height: 100px;
        color: #fff;
        text-align: center;
        line-height: 100px;
        font-size: 24px;
        background: #666;
        }



