[data-simplebar] {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  --simplebar-scrollbar-thickness: 7px;
  --simplebar-track-thickness: 11px;
}

.simplebar-wrapper {
  overflow: hidden;
  flex: 1;
  width: 100%;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content {
  flex: 1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
  width: var(--simplebar-track-thickness);
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
  height: var(--simplebar-track-thickness);
}

.simplebar-scrollable-x.simplebar-scrollable-y
  .simplebar-track.simplebar-horizontal {
  clip-path: inset(0px var(--simplebar-track-thickness) 0px 0px);
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  border-radius: var(--simplebar-scrollbar-thickness);
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  margin: auto;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

.simplebar-scrollable-y .simplebar-track.simplebar-vertical,
.simplebar-scrollable-x .simplebar-track.simplebar-horizontal {
  opacity: 1;
  visibility: visible;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 7px;
  height: var(--simplebar-scrollbar-thickness);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  width: 7px;
  width: var(--simplebar-scrollbar-thickness);
}

/* Rtl support */

[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

[data-simplebar-direction='rtl'].simplebar-scrollable-x.simplebar-scrollable-y
  .simplebar-track.simplebar-horizontal {
  clip-path: inset(0px 0px 0px var(--simplebar-track-thickness));
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}
