/**
 * SimpleBar demo.
 * Author: Adrien Grsmto
 *
 * These styles are not required for SimpleBar
 * to function. They are used only for styling the demo.
 */

/* General page styles
*****************************************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 20px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

section + section {
  margin-top: 40px;
}

h1 {
  font-size: 30px;
  margin: 0 0 10px 0;
}
h2 {
  font-size: 24px;
  margin: 10px 0;
}
p {
  margin: 1em 0;
}
.box {
  background: #666;
  color: #fff;
}
.col {
  float: left;
  width: calc(50% - 20px);
}
.col + .col {
  margin-left: 40px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  }
  .btn:hover {
    background: #666;
    color: #fff;
    }
  .btn:visited {
    color: #fff;
    }

/* Scrollable elements
*****************************************************************/
.demo1, .demo3 {
  margin: 10px 0;
  width: 100%;
  height: 300px;
}
  .demo1 p {
    margin: 0;
    padding: 10px;
    min-width: 230px;
    }
    .demo1 p.odd {
      background: #f0f0f0;
      }
  .demo1.width {
    width: 230px;
  }
  .demo1.height {
    height: 200px;
  }
.demo1-internal {
  width: 50%;
  height: 300px;
}
.demo4 {
  background: grey;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  white-space: nowrap;
  overflow: auto;
  }
    .demo4 .box {
      display: inline-block;
      /* margin-right: 10px; */
      width: 100px;
      height: 150px;
      text-align: center;
      line-height: 150px;
      font-size: 24px;
      }
.demo-raw {
  margin: 10px 0;
  width: 250px;
  height: 300px;
  overflow: auto;
}

.demo3 {
  height: auto;
  max-height: 300px;
}

.demo5 {
  height: 200px;
  height: 60px;
  direction: rtl;
}

.demo-both-axis {
  overflow: auto;
  width: 200px;
  height: 200px;
}

.demo-both-axis--padding {
  background: #2f2f2f;
  padding: 40px;
}

.demo-y-axis {
  overflow-y: auto;
  overflow-x: hidden;
  width: 200px;
  height: 200px;
}

.demo-both-axis .box,
.demo-y-axis .box {
  width: 600px;
  height: 600px;
}

.height-100 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: red;
}

.sticky {
  position: sticky;
  top: 0;
  background: red;
  margin: 0;
}

.playground {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.playground__content {
  grid-column-start: span 2;
}
